/* Custom CSS for additional customization */

.jumbotron-frontpage {
	background: url(../images/heroimage.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inverse {
	color: #ffffff;
}